<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.mapper.UserMapper" >

    <resultMap id="ResultMap" type="com.wang.entity.User" >
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="username" property="username" />
    </resultMap>

    <select id="selectAll" resultMap="ResultMap" >
        select id, account, password, username from user
    </select>
</mapper>